<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acme.app.mapper.premission.SensorPremissionMapper">
	
  <resultMap id="result_userKey_pre" type="com.acme.app.model.premission.UserDeviceSensorPremission">
    <id column="pre_user_sensor_id" jdbcType="BIGINT" property="id" />
    <result column="user_key" jdbcType="CHAR" property="userKey" /> 
    <result column="sensor_id" property="deviceSensorId"/>
    <result column="url_id" jdbcType="BIGINT" property="urlId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
   <sql id="set_base_column">
  		user_key=#{userKey},
  		sensor_id=#{deviceSensorId},
  		url_id=#{urlId},
  		gmt_modified=#{gmtModified}
  </sql>
 	
  <sql id="Base_Column_List">
    pre_user_sensor_id as id, user_key as userKey, sensor_id as deviceSensorId, url_id urlId, gmt_create as gmtCreate, gmt_modified as gmtModified
 
  </sql>

  <select id="selectByUserKey" parameterType="java.lang.String" resultMap="result_userKey_pre">
  		select  
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where user_key=#{userKey}
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultType="com.acme.app.model.premission.UserDeviceSensorPremission">
  		select 
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where pre_user_sensor_id=#{id}
  </select>
   <select id="selectByUrlId" parameterType="java.lang.Long" resultMap="result_userKey_pre">
  		select 
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where url_id=#{urlId}
  </select>
  <select id="selectByDeviceId" parameterType="java.lang.Long" resultMap="result_userKey_pre">
  		select 
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where sensor_id=#{sensorId}
  </select>
  
  <select id="selectByUKAndUrlIdAndDeviceId"  resultType="com.acme.app.model.premission.UserDeviceSensorPremission">
  		select 
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where user_key=#{0} and url_id=#{1} and sensor_id=#{2} 
  </select>
  
   <select id="selectPre"  resultType="com.acme.app.model.premission.UserDeviceSensorPremission">
  		select 
  			<include refid="Base_Column_List"></include>
  		from pre_user_sensor
  		where user_key=#{0} and sensor_id=#{1} 
  </select>
  <delete id="deleteByUKAndUrlIdAndDeviceId">
  		delete 
  		from pre_user_sensor
  		where user_key=#{0} and url_id=#{1} and sensor_id=#{2} 
  </delete>
  <delete id="deleteById" parameterType="java.lang.Long">
  		delete 
  		from pre_user_sensor
  		where pre_user_sensor_id=#{id}
  </delete>
  <delete id="deleteByUserKey" parameterType="java.lang.String">
  		delete
  		from pre_user_sensor
  		where user_key=#{userKey}
  </delete>
  <delete id="deleteByUrlId" parameterType="java.lang.Long">
  		delete 
  		from pre_user_sensor
  		where url_id=#{urlId}
  </delete>
  <insert id="insert" parameterType="com.acme.app.model.premission.UserDeviceSensorPremission" useGeneratedKeys="true" keyProperty="id">
  		insert into pre_user_sensor(user_key,sensor_id,url_id,gmt_create,gmt_modified)
  			values(#{userKey},#{deviceSensorId},#{urlId},#{gmtCreate},#{gmtModified})
  </insert>
 <update id="update" parameterType="com.acme.app.model.premission.UserDeviceSensorPremission">
 		update pre_user_sensor
 		set 
 			<include refid="set_base_column"></include>
 		where pre_user_sensor_id=#{id}
 </update>
</mapper> -->